<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :app_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :app_lastname %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :app_username %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :app_string %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :app_email %>
  </div>

  <div class="field">
    <%= form.label :date_de_naissance %>
    <%= form.date_select :date_de_naissance, id: :app_date_de_naissance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
